<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unauthorized Page</title>
  <meta http-equiv="refresh" content="5;url=/api/v1/auth/login">
</head>
<body>
  <h1>Unauthorized Access</h1>
  <p>You will be redirected to the login page in 5 seconds.</p>
</body>
</html>
